<mat-toolbar color="primary" class="toolbar">
  <mat-toolbar-row>
    <span>{{ title }}</span>
  </mat-toolbar-row>

  <mat-toolbar-row>
    <nav mat-tab-nav-bar backgroundColor="primary">
      <a mat-tab-link *ngFor="let route of appRoutes"
         [routerLink]="route.routerLink"
         (click)="activeRoute = route"
         [active]="activeRoute == route">{{ route.routerName }}</a>
    </nav>
  </mat-toolbar-row>
</mat-toolbar>

<div class="router-content">
  <router-outlet></router-outlet>
</div>
